<!-- <div class="bg-img layer1"></div> -->
<section id="appartment-info-section" class="acc">
    <ul id="info-list" class="acc">
        <li class="info-item bg-img">
          <div class="text-box-wrapper">
            <div class="text-box">
                <h1>Eine kurze Übersicht</h1>
                <p>öalskdfjas jfasölkdfj aösldjf öasdjf aölksdjf aösdfj aslkdfj alsködfjasdf jasdflk jasdfasdfas fasdf
                    lkajsdf asdf asdf asdf asdf asdfasdfasedf</p>
            </div>
          </div>
        </li>
    </ul>
</section>