<div id="nav-top-spacer" *ngIf="getShowSpacer()"></div>

<nav class="nav">

    <ul [ngClass]="getNavIsOpen() ? 'nav-list open' : 'nav-list'">
        <ng-container *ngFor="let route of getRoutes();let i = index">
            <li [ngClass]="getCurrentPageInd() == i? 'item active' : 'item'" (click)="setCurPageInd(i)">
                <button (click)="navigateToPage(i)">
                    <app-svg-icons class="svg-icon" [name]="pageIcons[i]" [sizeInd]="3">
                    </app-svg-icons>
                    <h2>
                        {{route}}
                    </h2>
                </button>
            </li>
        </ng-container>
    </ul>

    <div id="head">
        <img id="logo" src="./assets/imgs/logos/logo.png" />
        <ul id="nav-list-big">
            <ng-container *ngFor="let route of getRoutes();let i = index">
                <li [ngClass]="getCurrentPageInd() == i? 'item active' : 'item'" (click)="setCurPageInd(i)">
                    <button (click)="navigateToPage(i)">
                        <div class="link-container">
                            <app-svg-icons class="svg-icon" [name]="pageIcons[i]" [sizeInd]="3">
                            </app-svg-icons>
                            <h2>
                                {{route}}
                            </h2>
                        </div>
                        <div class="underline"></div>
                    </button>
                </li>
            </ng-container>
        </ul>

        <button id="burger-btn" (click)="toggleNav()">
            <h1 id="burger-menu">
                <app-svg-icons class="svg-icon" name="menu-outline" [sizeInd]="5"></app-svg-icons>
            </h1>
        </button>
    </div>
</nav>