<nav [ngClass]="scrollOffset>getWindowHeight() / 8 || getCurPageInd()==2? 'nav small acc':'nav acc'">
    <div id="nav-wrapper">
        <div id="logo-container" class="acc">
            <img id="logo" src="./assets/imgs/logos/logo.png" />
        </div>
        <div id="underline"></div>
        <ul id="list-big">
            <ng-container *ngFor="let route of getRoutes();let i=index">
                <li [ngClass]="getCurrentPageInd() == i? 'nav-item-big active acc' : 'nav-item-big acc'">
                    <button (click)="navigateToPage(i)">
                        <h2 class="route-text">{{route}}</h2>
                    </button>
                </li>
            </ng-container>
        </ul>
        <ul id="list-small">
            <li class="current-page-item-small">
                <button class="acr">
                    <app-svg-icons class="svg-icon" [name]="pageIcons[getCurrentPageInd()]" [sizeInd]="3">
                    </app-svg-icons>
                    <h2> {{getRoutes()[getCurrentPageInd()]}}
                    </h2>
                </button>
            </li>
            <li>
                <button id="burger-btn" (click)="toggleNav()">
                    <app-svg-icons class="svg-icon" name="menu-outline" [sizeInd]="5"></app-svg-icons>
                </button>
            </li>
        </ul>
    </div>
</nav>

<div [ngClass]="getNavIsOpen()? 'list-small-nav-container open':'list-small-nav-container'">
    <ul [ngClass]="scrollOffset>getWindowHeight() / 8 || getCurPageInd()==2? 'list-small-nav big':'list-small-nav'">
        <ng-container *ngFor="let route of getRoutes();let i=index">
            <li [ngClass]="getCurrentPageInd() == i? 'nav-item-small active acc' : 'nav-item-small acc'">
                <button (click)="navigateToPage(i)" class="acr">
                    <app-svg-icons class="svg-icon route" [name]="pageIcons[i]" [sizeInd]="3"></app-svg-icons>
                    <h2 class="route-text">{{route}}</h2>
                </button>
            </li>
        </ng-container>
    </ul>
</div>