<section id="appartment-section" class="acc">
    
    <div id="content-wrapper" class="acc">
        <div class="bg-pattern">
            <svg class="svg one" width="100" height="100" viewBox="0 0 100 100" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path id="shape" d="M101 -1H-0.5L-3 74L101 54.5556V-1Z" fill="#6F6F6F" />
            </svg>
            <svg class="svg two" width="100" height="205" viewBox="0 0 100 205" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path id="shape-high" d="M100 -1H-1.5L-4 131L100 96.7778V-1Z" fill="#6F6F6F" />
            </svg>
        </div>
        <div id="content">
            <section id="title-section">
                <div id="title-container">
                    <h1 class="top-title">Das Appartment</h1>
                </div>
            </section>
            <section id="foto-section">
                <!-- <app-calendar></app-calendar> -->
                <ul id="intro-img-list">
                    <li class="item big">
                        <img src="./assets/imgs/home/appartment/0.jpg">
                    </li>
                    <li class="small-imgs-container">
                        <ul id="small-img-list">
                            <li class="item small">
                                <img src="./assets/imgs/home/appartment/1.jpg">
                            </li>
                            <li class="item small">
                                <img src="./assets/imgs/home/appartment/2.jpg">
                            </li>
                            <li class="item small">
                                <img src="./assets/imgs/home/appartment/3.jpg">
                            </li>
                            <li class="item small">
                                <img src="./assets/imgs/home/appartment/4.jpg">
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</section>