@import "../../../../shared/variables.less";

.top-title {
  font-size: @fontsize-title-large;
  color: @color-accent1;
  font-weight: 900;
  margin-top: @margin;
}


@media screen and(max-width:@max-w-2) {
  .top-title {
    font-size: @fontsize-title;
  }
}


@media screen and(max-width:@max-w-1) {
  .top-title {
    font-size: @fontsize-subtitle;
  }
}
