<section id="appartment-section" class="acc">
    <section id="title-section">
        <div id="title-container">
            <h1 class="top-title">Das Appartment</h1>
        </div>
    </section>
    <section id="foto-section">
        <!-- <app-calendar></app-calendar> -->
        <ul id="intro-img-list">
            <li class="item big">
                <img src="./assets/imgs/home/appartment/0.jpg">
            </li>
            <li class="small-imgs-container">
                <ul id="small-img-list">
                    <li class="item small"> 
                        <img src="./assets/imgs/home/appartment/0.jpg">
                    </li>
                    <li class="item small"> 
                        <img src="./assets/imgs/home/appartment/0.jpg">
                    </li>
                    <li class="item small">
                        <img src="./assets/imgs/home/appartment/0.jpg">                    </li>
                    <li class="item small"> 
                        <img src="./assets/imgs/home/appartment/0.jpg">
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</section>