<section id="impressions-section">
    <section class="top-img-section acc">
        <div class="width-wrapper">
            <h1 class="top-img-title one">Impressionen</h1>
            <div class=" top-img bg-img"></div>
            <h1 class="top-img-title two">& Bilder</h1>
        </div>
    </section>
    <ul id="img-lists">
        <ng-container *ngFor="let img of imgs;let i=index">
            <li [ngClass]="{
                'img-item acc': true,
                'small': img.sizeInd==0,
                'medium': img.sizeInd==1,
                'big': img.sizeInd==2
              }">
              <!-- <div class="img-item-img bg-img" [ngStyle]="{'background-image':'../../../../assets/imgs/impressions/slide1-imgs/'+i+'.jpg'}"></div> -->
                <img src="./assets/imgs/impressions/slide1-imgs/{{i}}.jpg" />
                <div class="text-container acc">
                    <h1>{{img.title}}</h1>
                    <p>{{img.text}}</p>
                </div>
            </li>
        </ng-container>
    </ul>
</section>