<section id="impressions-section" class="acc">
    <section class="top-img-section acc">
        <div class="width-wrapper">
            <div class="title-one-container">
                <h1 #titleOne class="top-img-title one">Impressionen</h1>
            </div>
            <div [ngClass]="getIsSafari()?'top-img bg-img is-safari':'top-img bg-img'"></div>
            <div class="title-two-container">
                <h1 #titleTwo class="top-img-title two">& Bilder</h1>
            </div>
            <ul class="top-img-title-list acc">

                <li *ngFor="let char of titleArray">
                    <h1>{{char}}</h1>
                </li>
            </ul>
        </div>
    </section>
    <ul id="img-lists">
        <ng-container *ngFor="let img of imgs;let i=index">
            <li [ngClass]="{
                'img-item acc': true,
                'small': img.sizeInd==0,
                'medium': img.sizeInd==1,
                'big': img.sizeInd==2
              }">
                <!-- <div class="img-item-img bg-img" [ngStyle]="{'background-image':'../../../../assets/imgs/impressions/slide1-imgs/'+i+'.jpg'}"></div> -->
                <img src="./assets/imgs/impressions/slide1-imgs/{{i}}.jpg" />
                <div class="text-container acc">
                    <button>
                        <h1>{{img.title}}</h1>
                        <p>{{img.text}}</p>
                    </button>
                </div>
            </li>
        </ng-container>
    </ul>
    <button class="btn-round" (click)="routeToReservation()"><h1>Jetzt Buchen</h1></button>
</section>