<section id="reservation-info-section">
    <h1 class="top-title">Buchen</h1>
    <section id="infos">
        <ul id="infos-list">
            <li class="info-item first-item">
                <div>
                    <h1 class="section-title first-title">
                        Fiescheralp Appartment
                    </h1>
                    <p class="section-subtitle first-subtitle">Geignet für bis zu {{getMaxGuests()}} Gästen, 2
                        Schlafzimmer, 4 Betten, 1 Badezimmer, Küche</p>
                </div>
                <img id="host-pb" src="./assets/imgs/reservation/host-pb.jpg" />
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                <ul id="advantage-list">
                    <li class="advantage-item " *ngFor="let advantage of advantages;let i = index">
                        <app-svg-icons class="icon advantage" [name]="advantage.icon" [strokeWidth]="25" [sizeInd]="4">
                        </app-svg-icons>
                        <p>{{advantage.advantage}}</p>
                    </li>
                </ul>
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                <h1 class="section-title">
                    Das Wichtigste in Kürze
                </h1>
                <p>
                    Short Description öalkdjö asdfaskdlfj aösdfj asfdasdf lkadsf asdfkl adsökflj aödf asdfkj asdf öasdf
                    asdflöakjsdf asdf asdföl asdfasdf asdfasdf klasdfkaösdfasdf asf kladfaf
                </p>
            </li>
            <li class="section-line"></li>
            <li class="info-item swiper-item">
                <swiper *ngIf="getIsLargeSwiper() || 1" id="swiper" [config]="getSwiperConfig()"
                    (slideChange)="onSlideChange()">
                    <ng-template class="swiper-slide acc" swiperSlide
                        *ngFor="let slideContent of slideContents;let i = index">
                        <button class="slide-container">
                            <img src="./assets/imgs/reservation/slide-imgs/{{i}}.jpg" />
                            <div class="swiper-text-container">
                                <h2>{{slideContent.title}}</h2>
                                <p>{{slideContent.text}}</p>
                            </div>
                        </button>
                    </ng-template>
                </swiper>
            </li>
            <li class="section-line"></li>
            <li class="info-item guarantee">
                <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="lock"
                        d="M82.6305 1H18.0107C15.4971 1 13.3794 2.86349 13.1055 5.36212C11.8137 17.1488 8.84107 49.6517 13.6155 63.1202C18.4491 76.7555 39.5237 92.1972 46.8993 97.2793C48.4631 98.3569 50.4773 98.3904 52.0738 97.362C59.6087 92.5083 81.1972 77.6337 86.909 63.1202C92.557 48.7686 89.0315 16.758 87.5072 5.23525C87.1842 2.79353 85.0935 1 82.6305 1Z" />
                    <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd"
                        d="M59.381 27.2381C59.381 28.3477 59.362 29.3775 59.3268 30.3333H40.9589C40.9237 29.3775 40.9048 28.3477 40.9048 27.2381C40.9048 22.136 45.0408 18 50.1429 18C55.2449 18 59.381 22.136 59.381 27.2381ZM31 30.3333H35.9551C35.9218 29.3558 35.9048 28.325 35.9048 27.2381C35.9048 19.3746 42.2794 13 50.1429 13C58.0063 13 64.381 19.3746 64.381 27.2381C64.381 28.325 64.364 29.3558 64.3306 30.3333H69.2857C72.0471 30.3333 74.2857 32.5719 74.2857 35.3333V60C74.2857 62.7614 72.0471 65 69.2857 65H31C28.2386 65 26 62.7614 26 60V35.3333C26 32.5719 28.2386 30.3333 31 30.3333ZM55.7143 43.9524C55.7143 45.8174 54.6833 47.4417 53.1602 48.2863C53.211 48.484 53.238 48.6912 53.238 48.9048V52.619C53.238 53.9866 52.1294 55.0952 50.7619 55.0952C49.3943 55.0952 48.2857 53.9866 48.2857 52.619V48.9048C48.2857 48.6912 48.3127 48.484 48.3635 48.2863C46.8405 47.4416 45.8095 45.8174 45.8095 43.9524C45.8095 41.2173 48.0268 39 50.7619 39C53.497 39 55.7143 41.2173 55.7143 43.9524Z"
                        fill="white" />
            </svg>
                <p>Stornieren und Geld zurück bis eine Woche vor Beginn des Urlaubs</p>
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                <h1 class="section-title">Zusätzlich Inklusive</h1>
                <ul id="addon-list">
                    <ng-container *ngFor="let addon of addons;let i=index">
                        <li class="addon-item" *ngIf="i<6 || showAllAddons">
                            <app-svg-icons class="icon addon" [name]="addon.icon" [strokeWidth]="25" [sizeInd]="4">
                            </app-svg-icons>
                            <p>{{addon.text}}</p>
                        </li>
                    </ng-container>
                </ul>
                <button id="show-all-addons-btn" class="acc" (click)="showAllAddons=!showAllAddons">
                    <app-svg-icons [name]="showAllAddons?'chevron-up-outline':'chevron-down-outline'" [strokeWidth]="32"
                        [sizeInd]="6">
                    </app-svg-icons>
                </button>
            </li>
        </ul>
    </section>
</section>