<section id="reservation-info-section">
    <h1 class="top-title">Infos</h1>
    <section id="infos">
        <ul id="infos-list">
            <li class="info-item">
                <div>
                    <h1>
                        Fiescheralp Appartment
                    </h1>
                    <p>Geignet für 5 Gäste, 2 Schlafzimmer, 4 Betten, 1 Badezimmer, Küche</p>
                </div>
                <img id="host-pb" src="./assets/imgs/reservation/host-pb.jpg" />
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                <ul id="advantage-list">
                    <li class="advantage-item">
                        <app-svg-icons name="home-outline" [strokeWidth]="25" strokeColor="#000" [sizeInd]="4">
                        </app-svg-icons>
                        <h2>Advantage1 öalkdsaö asdfl jafklasdf asdf asdf</h2>
                    </li>
                    <li class="advantage-item">
                        <app-svg-icons name="home-outline" [strokeWidth]="25" strokeColor="#000" [sizeInd]="4">
                        </app-svg-icons>
                        <h2>Advantage1 öalkdsaö asdfl jafklasdf asdf asdf</h2>
                    </li>
                    <li class="advantage-item">
                        <app-svg-icons name="home-outline" [strokeWidth]="25" strokeColor="#000" [sizeInd]="4">
                        </app-svg-icons>
                        <h2>Advantage1 öalkdsaö asdfl jafklasdf asdf asdf</h2>
                    </li>
                </ul>
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                <p>
                    Short Description öalkdjö asdfaskdlfj aösdfj asfdasdf lkadsf asdfkl adsökflj aödf asdfkj asdf öasdf
                    asdflöakjsdf asdf asdföl asdfasdf asdfasdf klasdfkaösdfasdf asf kladfaf
                </p>
            </li>
            <li class="section-line"></li>
            <li class="info-item">
                
            </li>
        </ul>
    </section>
</section>