@import "../../../../shared/variables.less";

#reservation-info-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white,0.8);
    backdrop-filter: blur(12px);
    box-shadow: @box-shadow-2;
    border-radius: @std-edge-rad;

}

.top-title{
    font-size: @fontsize-title-large;
    font-weight: 900;
    color: @color-accent1;
}

#infos{
   
   width: calc(100% - @padding-small * 2);
    padding: @padding-small;
}
.section-line{
    margin: @margin 0px;
    height: 1px;
    background-color: @color-lightest;
}
.section-title{
    color: @color-accent1;
    margin-bottom: @margin-smaller;
}
.first-title{
    font-weight: 900;
}
.section-subtitle{
    color: @color-lighter;
}
p{
    margin: @margin-smaller 0px;
}
.icon{
    color: @color-accent1;
    margin-right: @margin-small;
}
//first-item---------------------------------------------
.first-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#host-pb{
    max-width: 100px;
    border-radius: 100px;
    margin-left: @margin-small;
    box-shadow: @box-shadow-1;
}
//acvantage-item------------------------------------------
.advantage-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
//swiper-------------------------------------------
#swiper{
    max-width: 100%;
}
.slide-container{
   // max-height: 512px;
   width:calc(100% - @margin-smaller * 2);
    overflow: hidden;
    border-radius: @std-edge-rad;
    box-shadow: @box-shadow-2;
    margin: @margin-smaller;
    margin-bottom: calc(@margin * 2);
    max-width: 512px;
}
.swiper-text-container{
    padding: @padding-small;
}
.swiper-text-container p{
    margin-bottom: 0px;
}
.slide-container img{
    display: block;
    max-width: 100%;
}
//guarantee----------------------------------------------------------
.guarantee{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.guarantee svg{
    margin-right: @margin-small;
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.guarantee p{
    margin: 0px;
    width: fit-content;
}
#lock{
    fill: @color-accent1;
}
//addon zusätzlich dabei----------------------------------------------
#addon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.addon-item{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: @padding-smaller ;
}
.addon-item p{
    margin-right: @margin-small;
}

#show-all-addons-btn{
    color: @color-accent1;
    width: 100%;
    padding: @padding;
}

@media screen and(max-width:@max-w-2) {
.top-title{
    font-size: @fontsize-title;
    margin: @margin 0px;
}

.first-item{
flex-direction: column;
}
.first-title,.first-subtitle{
    text-align: center;
}
#host-pb{
    margin-left: 0px;
    margin-top: @margin;
}
.addon-item{
    width: 100%;

}
}