<section id="shortcut-section" class="acc">
    <ul [ngClass]="show && !closed? 'shortcut-list show':'shortcut-list'">
        <li class="item">
            <!-- <h1 class="item-title">Start</h1> -->
                <button (click)="calendarIsOpen=true" class="acr">
                    <h2 class="current-date"> {{getCurrentDate()}}</h2>
                    <app-svg-icons class="svg-icon edit" name="pencil-outline" [sizeInd]="4" [strokeWidth]="40"></app-svg-icons>
                </button>
        </li>
        <li class="item">
            <!-- <h1 class="item-title">Dauer</h1> -->
            <div class="acr">
                <button class="change-duration-btn" (click)="subtractFromDuration()">
                    <h2>
                        <app-svg-icons class="svg-icon" name="subtract-outline" [sizeInd]="4" [strokeWidth]="60"></app-svg-icons>
                    </h2>
                </button>
                <h2 id="duration">{{getDuration()}} {{getDuration()>1?'Tage':'Tag'}}</h2>
                <button class="change-duration-btn" (click)="addToDuration()">
                    <h2>
                        <app-svg-icons class="svg-icon" name="add-outline" [sizeInd]="4" [strokeWidth]="60"></app-svg-icons>
                    </h2>
                </button>
            </div>
        </li>
        <li class="item">
            <button (click)="goToReservation()" class="btn-round Reservation-btn acc">
                <h1>Reservation</h1>
            </button>
        </li>
        <li>
            <button (click)="closed=true">
                <app-svg-icons class="svg-icon" name="close-outline" [sizeInd]="4" [strokeWidth]="60"></app-svg-icons>
            </button>
        </li>
    </ul>
</section>

<section *ngIf="calendarIsOpen" id="calendar-section" class="acc">
    <button (click)="calendarIsOpen=false" id="close-calendar-btn">
        <app-svg-icons class="svg-icon" name="close-outline" [sizeInd]="5" [strokeWidth]="60"></app-svg-icons>
    </button>
    <app-calendar></app-calendar>
</section>