<ul id="settings-list">
    <li class="settings-item">
        <h1 class="setting-title"> Anzahl Personen</h1>
    </li>
    <li class="settings-item">
        <h1 class="setting-title"> Dauer </h1>

    </li>

    <li class="settings-item calendar">
        <app-calendar></app-calendar>
    </li>

    <li class="settings-item">
        <h1 class="setting-title">Preis</h1>
    </li>
    <li class="settings-item">
        <button>
            <h1 class="setting-title">Jetzt Buchen</h1>
        </button>
    </li>
    <li class="host-item acc">
        <img src="./assets/imgs/reservation/host-pb-big.jpg" />
        <h1 class="setting-title">Wir freuen uns auf Sie!</h1>

    </li>
</ul>