@import "../../../../shared/variables.less";

#settings-list{
    width: fit-content;
}

.settings-item:not(.calendar){
    margin-bottom: @margin-small;
    box-shadow: 0px 10px 15px rgba(black,0.3);
    border-radius: @std-edge-rad;
    padding: @padding-small;
    background-color: white;
}
.settings-item.calendar{
    margin-bottom: @margin-small;
}