<section id="infos-section" class="acc">
    <ul id="infos-list" class="acr">
        <ng-container *ngFor="let info of infos;let i=index">
            <button (click)="openInd=i">
                <li [ngClass]="openInd==i? 'item open acc':'item acc'">
                    <app-svg-icons class="icon" [name]="info.icon" [strokeWidth]="25" strokeColor="#e4cea5" [sizeInd]="7"></app-svg-icons>
                    <h1>{{info.title}}</h1>
                </li>
            </button>
        </ng-container>
    </ul>
    <section *ngIf="openInd>=0" class="info">
        <p>{{infos[openInd].info}}</p>
    </section>
</section>