@import "../../../../shared/variables.less";

#infos-list{
    flex-wrap: wrap
}

.item{
    margin: @margin;
}
.item h1{
    color: @color-accent1;
}
.item .icon{
    transform: scale(1);
    transition: 0.3s transform;
}
.item.open .icon{
    transform: scale(1.2);
}
.info p{
    max-width: @max-w-2;
    padding: @padding-small;
}

.item .underline{
    width: 0%;
    height: 1px;
    background-color: @color-accent1;
    transition: 0.3s width;
}

.item.open .underline,.item:hover .underline{
    width: 100%;
}

#map{
    width: min(calc(100% - @padding-small * 2), calc(@max-w-4 - @padding-small * 2));
}
