#infos-section {
  margin: 100px 0px;
  min-height: 50vh;
}
#infos-list {
  width: 100%;
  min-height: 50vh;
  flex-wrap: wrap;
  background-image: url("../../../../../assets/imgs/home/reviews-parallax.jpg");
}
.item {
  margin: 30px;
  color: #d3b680;
}
.item h1 {
  color: #d3b680;
}
.item .icon {
  transform: scale(1);
  transition: 0.3s transform;
}
.item.open .icon {
  transform: scale(1.2);
}
.info p {
  max-width: 800px;
  padding: 18px;
}
.item .underline {
  width: 0%;
  height: 1px;
  background-color: #d3b680;
  transition: 0.3s width;
}
.item.open .underline,
.item:hover .underline {
  width: 100%;
}
.google-map-container {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  margin: 0px 18px;
}
