.go-to-settings-section.hide {
  transform: translateY(calc(120px / 2));
}
.go-to-settings-section {
  transform: translateY(0px);
  transition: 0.3s transform;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(120px / 2);
  padding: 0px 18px;
  width: calc(100% - 18px * 2);
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: #d3b680;
}
.go-to-settings-section h1 {
  font-size: 16px;
  color: white;
}
.go-to-settings-section .to-settings-btn {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  animation: wobbleSmooth 2s infinite;
  color: #d3b680;
  padding: 8px 18px;
  margin: 0px 18px;
}
.go-to-settings-section .to-settings-btn p {
  font-size: 16px;
  color: #d3b680;
  font-weight: 900;
  margin: 0px;
}
.close-btn {
  background-color: transparent;
  color: white;
}
#reservation-section {
  width: 100%;
  overflow: hidden;
}
#content-section {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 100px;
  width: 100%;
  position: relative;
}
.bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-image: url("../../../../assets/imgs/reservation/top-img.jpg");
  height: 100vh;
}
#reservation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 70vh 18px 0 18px;
}
#scroll-to-elem {
  margin-top: calc(120px / 2);
}
#info-section {
  max-width: 1200px;
  width: calc(100% - 50px * 7 - 18px * 3);
  margin-right: 18px;
  animation: slideInLeft 1.5s;
}
#settings-section {
  animation: slideInRight 1.5s;
}
.btn-round {
  padding: 18px;
  animation: none;
  background-color: #7aa8ac;
  border-radius: 50px;
  margin: 0px 30px 100px 30px;
}
@media screen and (max-width: 800px) {
  #reservation-list {
    flex-direction: column;
    margin: 80vh 8px 0 8px;
  }
  #info-section {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #settings-section {
    width: 100%;
  }
}
