@import "../../../shared/variables.less";

#content-section {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: @margin-large;
    width: 100%;
    position: relative;
}

.bg-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url("../../../../assets/imgs/reservation/top-img.jpg");
    height: 100vh;
}

#reservation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 80vh @margin-small 0 @margin-small;
}



#info-section {
    max-width: @max-w-3;
    width: calc(100% - @day-width-calendar * 7 - @padding-small * 3);
    margin-right: @padding-small;
}


@media screen and(max-width:@max-w-2) {
    #reservation-list {
        flex-direction: column;
        margin: 80vh @margin-smaller 0 @margin-smaller;
    }

    #info-section {
        width: 100%;
        margin-right: 0px;
        margin-bottom: @margin;
    }
    #settings-section{
        width: 100%;
    }
}