<svg *ngIf="name=='home-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Home</title>
    <path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
        fill="none" [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none"
        [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linecap="round" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='bookmarks-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Bookmarks</title>
    <path d="M128 80V64a48.14 48.14 0 0148-48h224a48.14 48.14 0 0148 48v368l-80-64" fill="none"
        [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linejoin="round" />
    <path d="M320 96H112a48.14 48.14 0 00-48 48v352l152-128 152 128V144a48.14 48.14 0 00-48-48z" fill="none"
        [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='accessibility-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Accessibility</title>
    <circle fill="none" [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linejoin="round" cx="256"
        cy="56" r="40" />
    <path fill="none" [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linejoin="round"
        d="M204.23 274.44c2.9-18.06 4.2-35.52-.5-47.59-4-10.38-12.7-16.19-23.2-20.15L88 176.76c-12-4-23.21-10.7-24-23.94-1-17 14-28 29-24 0 0 88 31.14 163 31.14s162-31 162-31c18-5 30 9 30 23.79 0 14.21-11 19.21-24 23.94l-88 31.91c-8 3-21 9-26 18.18-6 10.75-5 29.53-2.1 47.59l5.9 29.63 37.41 163.9c2.8 13.15-6.3 25.44-19.4 27.74S308 489 304.12 476.28l-37.56-115.93q-2.71-8.34-4.8-16.87L256 320l-5.3 21.65q-2.52 10.35-5.8 20.48L208 476.18c-4 12.85-14.5 21.75-27.6 19.46s-22.4-15.59-19.46-27.74l37.39-163.83z" />
</svg>

<svg *ngIf="name=='menu-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Menu</title>
    <path fill="none" [ngStyle]="{'stroke':strokeColor,'stroke-width':strokeWidth}" stroke-linecap="round" stroke-miterlimit="10"
        d="M80 160h352M80 256h352M80 352h352" />
</svg>