<svg *ngIf="name=='home-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Home</title>
    <path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
    <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='bookmarks-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Bookmarks</title>
    <path d="M128 80V64a48.14 48.14 0 0148-48h224a48.14 48.14 0 0148 48v368l-80-64" fill="none" stroke="currentColor"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
    <path d="M320 96H112a48.14 48.14 0 00-48 48v352l152-128 152 128V144a48.14 48.14 0 00-48-48z" fill="none"
        stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='accessibility-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Accessibility</title>
    <circle fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" cx="256"
        cy="56" r="40" />
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round"
        d="M204.23 274.44c2.9-18.06 4.2-35.52-.5-47.59-4-10.38-12.7-16.19-23.2-20.15L88 176.76c-12-4-23.21-10.7-24-23.94-1-17 14-28 29-24 0 0 88 31.14 163 31.14s162-31 162-31c18-5 30 9 30 23.79 0 14.21-11 19.21-24 23.94l-88 31.91c-8 3-21 9-26 18.18-6 10.75-5 29.53-2.1 47.59l5.9 29.63 37.41 163.9c2.8 13.15-6.3 25.44-19.4 27.74S308 489 304.12 476.28l-37.56-115.93q-2.71-8.34-4.8-16.87L256 320l-5.3 21.65q-2.52 10.35-5.8 20.48L208 476.18c-4 12.85-14.5 21.75-27.6 19.46s-22.4-15.59-19.46-27.74l37.39-163.83z" />
</svg>

<svg *ngIf="name=='menu-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Menu</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-miterlimit="10" d="M80 160h352M80 256h352M80 352h352" />
</svg>

<svg *ngIf="name=='image-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Images</title>
    <path d="M432 112V96a48.14 48.14 0 00-48-48H64a48.14 48.14 0 00-48 48v256a48.14 48.14 0 0048 48h16" fill="none"
        stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
    <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" fill="none" stroke="currentColor"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
    <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" fill="none" stroke="currentColor"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-miterlimit="10" />
    <path
        d="M342.15 372.17L255 285.78a30.93 30.93 0 00-42.18-1.21L96 387.64M265.23 464l118.59-117.73a31 31 0 0141.46-1.87L496 402.91"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='restaurant-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Restaurant</title>
    <path
        d="M57.49 47.74l368.43 368.43a37.28 37.28 0 010 52.72h0a37.29 37.29 0 01-52.72 0l-90-91.55a32 32 0 01-9.2-22.43v-5.53a32 32 0 00-9.52-22.78l-11.62-10.73a32 32 0 00-29.8-7.44h0a48.53 48.53 0 01-46.56-12.63l-85.43-85.44C40.39 159.68 21.74 83.15 57.49 47.74z"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
    <path
        d="M400 32l-77.25 77.25A64 64 0 00304 154.51v14.86a16 16 0 01-4.69 11.32L288 192M320 224l11.31-11.31a16 16 0 0111.32-4.69h14.86a64 64 0 0045.26-18.75L480 112M440 72l-80 80M200 368l-99.72 100.28a40 40 0 01-56.56 0h0a40 40 0 010-56.56L128 328"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='arrow-forward-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Arrow Forward</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M268 112l144 144-144 144M392 256H100" />
</svg>

<svg *ngIf="name=='book-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Book</title>
    <path
        d="M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='location-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Location</title>
    <path
        d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z"
        fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" />
    <circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='trail-sign-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Trail Sign</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round"
        d="M256 400v64M256 208v64M256 48v32M416 208H102.63a16 16 0 01-11.32-4.69L32 144l59.31-59.31A16 16 0 01102.63 80H416a16 16 0 0116 16v96a16 16 0 01-16 16zM96 400h313.37a16 16 0 0011.32-4.69L480 336l-59.31-59.31a16 16 0 00-11.32-4.69H96a16 16 0 00-16 16v96a16 16 0 0016 16z" />
</svg>

<svg *ngIf="name=='chevron-back-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Chevron Back</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M328 112L184 256l144 144" />
</svg>

<svg *ngIf="name=='chevron-forward-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Chevron Forward</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M184 112l144 144-144 144" />
</svg>
<svg *ngIf="name=='chevron-down-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Chevron Down</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M112 184l144 144 144-144" />
</svg>

<svg *ngIf="name=='chevron-up-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Chevron Up</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M112 328l144-144 144 144" />
</svg>

<svg *ngIf="name=='star-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Star</title>
    <path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor"
        [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='star'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Star</title>
    <path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="currentColor"
        stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linejoin="round" />
</svg>

<svg *ngIf="name=='pencil-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Pencil</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round"
        d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" />
</svg>

<svg *ngIf="name=='close-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    viewBox="0 0 512 512">
    <title>Close</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M368 368L144 144M368 144L144 368" />
</svg>

<svg *ngIf="name=='add-outline'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
    [ngStyle]="{'width.px':size,'height.px':size}" stroke-linecap="round">
    <title>Add</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M256 112v288M400 256H112" />
</svg>

<svg *ngIf="name=='subtract-outline'" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'width.px':size,'height.px':size}"
    stroke-linecap="round" viewBox="0 0 512 512">
    <title>Remove</title>
    <path fill="none" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}" stroke-linecap="round"
        stroke-linejoin="round" d="M400 256H112" />
</svg>

<svg *ngIf="name=='ellipsis-horizontal-outline'" xmlns="http://www.w3.org/2000/svg"
    [ngStyle]="{'width.px':size,'height.px':size}" viewBox="0 0 512 512">
    <title>Ellipsis Horizontal</title>
    <circle cx="256" cy="256" r="32" fill="currentColor" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}"
        stroke-miterlimit="10" />
    <circle cx="416" cy="256" r="32" fill="currentColor" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}"
        stroke-miterlimit="10" />
    <circle cx="96" cy="256" r="32" fill="currentColor" stroke="currentColor" [ngStyle]="{'stroke-width':strokeWidth}"
        stroke-miterlimit="10" />
</svg>