#top-overview-section {
  width: 100%;
  margin: 100px 0px;
}
.word-carousel {
  margin-bottom: 100px;
}
#card-list {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
}
.card {
  width: min(calc(100%/3), calc(1920px / 3));
  min-height: 50vh;
  align-self: stretch;
}
.card:nth-child(4) {
  width: 100%;
  max-width: 1920px;
}
.card button {
  height: 100%;
  margin: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  align-self: stretch;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.card:nth-child(1) button {
  background-color: #a87e74;
}
.card:nth-child(2) button {
  background-color: #7aa8ac;
  margin: 18px 0px;
}
.card:nth-child(3) button {
  background-color: #d89d6a;
}
.card:nth-child(4) button {
  background-color: #e4cea5;
  margin-top: 0px;
  align-self: stretch;
}
.card .text-container {
  max-width: 500px;
}
.card h2 {
  color: white;
}
.card h2:nth-child(2) {
  font-size: 50px;
  margin: 30px 0px;
  font-family: 'Caveat Brush', cursive;
}
.card h2:nth-child(1) {
  margin-top: 30px;
}
.icon-container {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card .svg-icon {
  transform: translateX(calc(100px * -1));
  transition: 0.3s transform;
  opacity: 0.5;
}
.card:hover .svg-icon {
  transform: translateX(0px);
}
@media screen and (max-width: 1200px) {
  .card,
  .card:nth-child(4) {
    width: min(calc(100%/2), calc(1920px / 2));
  }
  .card:nth-child(2) button {
    margin-right: 18px;
  }
  .card:nth-child(3) button {
    margin: 0px 18px;
  }
  .card:nth-child(4) button {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 18px;
  }
}
@media screen and (max-width: 800px) {
  #card-list {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card,
  .card:nth-child(4) {
    width: 100%;
  }
  .card:nth-child(1) button,
  .card:nth-child(2) button,
  .card:nth-child(3) button,
  .card:nth-child(4) button {
    width: calc(100% - 18px * 2);
    margin: 0px 18px 18px 18px;
  }
}
@media screen and (max-width: 500px) {
  .card h2:nth-child(2) {
    font-size: 40px;
    margin: 30px 0px;
    font-family: 'Caveat Brush', cursive;
  }
}
