@import "./app/shared/variables.less";


@import './app/shared/swiper.less';
@import 'swiper/less';
@import 'swiper/less/navigation';
@import 'swiper/less/pagination';

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: @color-accent1;
    opacity: 1;
}

.swiper-pagination-bullet {
    background-color: rgba(@color-accent1, 0.5);
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: @color-accent1;
}
.swiper-slide{
  overflow: visible;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

a,
button {
  margin: 0px;
  padding: 0px;
  font-family: @std-font;
  font-size: @fontsize-std;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
label {
  margin: 0px;
  padding: 0px;
  font-family: @std-font;
  font-weight: 300;
  text-transform: uppercase;
  user-select: none;

}

h1 {
  font-size: @fontsize-h1 ;
}

h2 {
  font-size: @fontsize-h2 ;
}

h3 {
  font-size: @fontsize-h3;
}

p {
  font-family: @std-font;
  font-size: @fontsize-h2;
  color: @color-dark;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

form,
textarea {
  font-size: @fontsize-std;
  font-family: @std-font;
}

.text-input,
textarea {
  width: calc(100% - @padding-smallest * 2);
  height: 30px;
  background-color: white;
  color: black;
  margin-bottom: @margin-small;
  border: solid 1px @color-lightest;
  outline: none;
  box-shadow: @box-shadow-2;
  padding: @padding-smallest;
  min-height: @btn-small;
  border-radius: @std-edge-rad;
}

label {
  color: @color-lighter;
  margin-bottom: @margin-small;
}

.title-first {
  font-family: @std-font;
  font-weight: 900;
  font-size: @fontsize-h1;
  text-align: center;
  color: black;
}

.title-second {
  font-size: @fontsize-std;
  text-align: center;
  text-transform: uppercase;
  color: @color-dark;
  font-weight: 300;
}

.link {
  font-size: @fontsize-std;
  color: @color-accent1;
  margin-left: @margin-smaller;
  transition: color 0.5s;
}

.link:hover {
  color: @color-accent2;
}

.btn-round {
  margin-top: @margin;
  background-color: @color-accent1;
  padding: @padding-smaller;
  border-radius: @std-edge-rad;
  box-shadow: @box-shadow-1;
  color: white;
  text-align: center;
  animation: 2s wobbleSmooth infinite;
}

.btn-round:hover {
  animation: 2s wobbleSmooth;
}


.acr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bg-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  aspect-ratio: 100/21;
  background-image: url("./assets/svgs/spacers/triangle2.svg");
}

/*
.side-layer{
    aspect-ratio: 500/500;
    background-image: url("./assets/svgs/spacers/side-layer.svg");
}*/
//animations--------------------------------



@keyframes wobbleSmooth {
  0% {
    transform: translateX(0px);
  }

  15% {
    transform: translateX(-6px) rotate(-1deg);
  }

  30% {
    transform: translateX(5px) rotate(0.75deg);
  }

  45% {
    transform: translateX(-3px) rotate(-0.75deg);
  }

  60% {
    transform: translateX(2px) rotate(0.5deg);
  }

  75% {
    transform: translateX(-1px) rotate(-0.25deg);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
  }

  60% {
    transform: translateX(5vw);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }

  60% {
    transform: translateX(-5vw);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* You can add global styles to this file, and also import other style files */
