<section id="splash-section">
    <section id="background-section">
        <section id="overlay-section-one" class="spacer side-layer">
            <div id="content-container">
                <div class="text-container">
                    <div id="fat-title-container">
                        <h1 class="small-title">Entdecke Sie die</h1>
                        <h1 class="fat-title one">Fiescher</h1>
                        <h1 class="fat-title alp">Alp</h1>
                    </div>
                   <div class="welcome-container-animation-wrapper">
                    <div id="welcome-container">
                        <h1>Appartment Fiescheralp</h1>
                        <h1 class="title-second text">Sie Lieben wie wir die Berge und wollen einmal richtig ausspannen
                            oder eine Vielfalt an Sport & Freizeit Aktivitäten geniessen? Hier sind sie genau richtig!
                        </h1>
                    </div>
                   </div>
                </div>
            </div>
        </section>
        <section id="overlay-section-two">
            <h1 class="fat-title two">Alp</h1>
        </section>
    </section>
</section>