@import "../../../../shared/variables.less";
@bg-height:calc(100vh + @fontsize-title-large );

#splash-section{
    height: @bg-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#background-section{
    height: @bg-height;
    //margin-top: 10vh;
    width: 100%;
    max-width: @max-w-4;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../../../assets/imgs/home/splash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
}

#overlay-section-one{
    height: @bg-height;
}
#welcome-container{
    height: @bg-height;
    width: min(calc(45% - @padding-small * 2), calc(@max-w-4 / 2.2 - @padding-small * 2));
    padding: @padding-small;
    animation: slideInLeft 1.5s;
}
#welcome-container .title-first{
    color: @color-accent1;
    margin-top: @margin;
}
.title-second.text{
    max-width: calc(@max-w-4 / 2.6);
    margin-top: @margin;
}
#overlay-section-two{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: @max-w-4;
    animation: slideInRight 1.5s;
}
#welcome-container img{
    max-width: 200px;
    margin-top: @margin;
}



@media  screen and(max-width:@max-w-2) {
    #background-section{
        margin-top: 0px;
        height: 100vh;
        justify-content: flex-start;
    }
    #welcome-container{
        width: calc(100% - @padding-small * 2);
        padding: @padding-small;
        justify-content: flex-start;
    }
    #welcome-container .title-second:first-child{
        margin-top: @navbar-height;
    }
    .side-layer{
        aspect-ratio: 300/500;
        background-image: url("../../../../../assets/svgs/spacers/top-layer.svg");
    }
    #welcome-container img{
        max-width: 100px;
    }
    #overlay-section-two{
        align-items: center;
    }
}