<section id="splash-section">
    <section id="background-section">
        <section id="overlay-section-one" class="spacer side-layer">
            <div id="welcome-container" class="acc">
                <h1 class="title-second">Willkommen im</h1>
                <h1 class="title-first">Appartment Fiescheralp</h1>
                <h1 class="title-second text">Sie Lieben wie wir die Berge und wollen einmal richtig ausspannen oder eine Vielfalt an Sport & Freizeit Aktivitäten geniessen? Hier sind sie genau richtig!</h1>
                <img src="./assets/imgs/home/small-house.png" al="small house">
            </div>
        </section>
    </section>
    <section id="overlay-section-two">
        <app-word-carousel class="word-carousel" word1="Ausspannen" word2="Geniessen" word3="Fiescheralp"></app-word-carousel>
    </section>
</section>