<section id="activities-section" class="acc">

    <div id="svg-line-container">
        <svg  viewBox="0 0 1000 1000" fill="none">
            <!-- <path #path pathLength="10" vector-effect="non-scaling-stroke" id="flow-line"
                d="M461.5 0V194.5L392.5 232.5C436.167 287 524.8 394.9 530 390.5C536.5 385 567 223 530 217.5C493 212 429.528 244 427 258C424.472 272 374.5 370.5 383.5 390.5C390.7 406.5 438.5 497.167 461.5 540.5L479 630.5L461.5 741.5C496 748.167 563.9 759.5 559.5 751.5C554 741.5 514.5 699.5 488 699.5C461.5 699.5 446 705.5 427 728.5C408 751.5 391 787.5 409 811.5C427 835.5 470 867 479 866C488 865 517.5 888 520 912C522 931.2 520.833 950.333 520 957.5L461.5 980.5V998.5"
                stroke="black" stroke-width="3" /> -->
            <!-- <path #path pathLength="10" vector-effect="non-scaling-stroke" id="flow-line"
                d="M468 1.5V71H553.5L468 83V244H395.5L468 258.5V419L553.5 430H468V581H395.5L468 590.5V744.5H553.5L468 754V913L395.5 921L468 928V1001.5"
                stroke="black" /> -->
           
                <path #path pathLength="10" vector-effect="non-scaling-stroke" id="flow-line"
                d="M500.5 0V114.5H586L500.5 126.5V300H428L500.5 314.5V428.5L586 439.5H500.5V559H428L500.5 568.5V681H586L500.5 690.5V801L428 809L500.5 816V922L581 930.5L500.5 936.5V1000" stroke="black"/>
        </svg>
    </div>

    <section id="splash-section" class="acc">
        <div #splashElem id="clipped-splash-img-container">
            <img class="clipping-img" src="./assets/imgs/activities/top-img.jpg" />
            <svg viewBox="0 0 1 1">
                <defs>
                    <clipPath id="clipPathSplash" clipPathUnits="objectBoundingBox">
                        <path d="M0.38 0L0 1H0.34L0.4 0.83H0.62L0.69 1H1L0.64 0H0.38Z" />
                    </clipPath>
                </defs>
            </svg>
            <img #dirt1 class="splash-item one" src="./assets/imgs/activities/splash-items/4.png" />
            <img #shoes class="splash-item two" src="./assets/imgs/activities/splash-items/5.png" />
            <img #dirt2 class="splash-item three" src="./assets/imgs/activities/splash-items/4.png" />
        </div>
    </section>

    <section #activitiesTitle id="activities-title-section" class="acc">
        <h1>Aktivitäten</h1>
    </section>
    <section id="all-activities-section">
        <ul class="activity-list">
            <ng-container *ngFor="let activity of activities">
                <li class="activity-item acc">
                    <h1>
                        {{activity.activityTitle}}

                    </h1>
                </li>
            </ng-container>
        </ul>
    </section>
</section>